# deps
node_modules

# build
dist
.next
out

# turbo
.turbo

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem

# Tests and Sandbox next projects
sandbox/
# typescript
*.tsbuildinfo

# claude
.claude
